/.classpath
/.project
/.settings
.classpath
.project
.settings
/nbproject
/target
.*.sw[a-p]
/build
/bin
/dist
/manifest.mf
/.DS_Store
# intellij
*.iml
*.ipr
*.iws
.idea/
/**/.idea
/**/.classpath
/**/.project
/**/.settings
/**/nbproject
/**/target
/**/.*.sw[a-p]
/**/build
/**/bin
/**/dist
/**/manifest.mf
/**/.DS_Store
/**/*.iml
/**/*.ipr
/**/*.iws
/**/.idea/
/doc
/**/doc
/javadoc.xml
/**/javadoc.xml
/test_data
/test_data_2
/test_data_3